<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prachi.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movielogo"
        android:label="MovieTime"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <dependency>
            <groupId>
                com.squareup.picasso
            </groupId>

            <artifactId>
                picasso
            </artifactId>

            <version>
                2.5.2
            </version>
        </dependency>

        <activity
            android:name=".MoviePageActivity"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prachi.movieapp.MoviePageActivity" />
        </activity>
        <activity android:name=".casteActivity" />
        <activity android:name=".CastmembermovielistActivity" />
        <activity
            android:name=".startingactivity"
            android:label="MovieTime"
            android:theme="@style/AppTheme.NoActionBar">


            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".genreMovieActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".PlayerView" />
        <activity android:name=".YouTubeFailureRecoveryActivity" />
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>